@font-face {
    font-family: 'Calibri Light';
    font-style: normal;
    font-weight: 300;
    src: local('Calibri Light'), local('Calibri-Light'), url(https://fonts.gstatic.com/s/calibril/v11/q5zGoobMwOlWOGmI-sema5rIj_aH4xHiwcKJ7q1Hyv3Wb8Lt.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    font-family: 'Calibri Light', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    max-width: 100vw !important;
    overflow: hidden !important;
    overflow-y: scroll !important;
}
html ::-webkit-scrollbar {
    display: none;
}


a {
    text-decoration: none;
}



body {
    background-color: #FDEAEE;
    align-items: center;
    padding-top: 40px;
}

.container {
    display: flex;
    justify-content: center;
}

.sidebar {
    background-color: #EDEEFF;
    padding: 20px 20px 60px 20px;
    border-radius: 10px;
    color: #2f3d4e;
    width: fit-content;
    max-width: 300px;
    height: fit-content;
    margin: 0 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.sidebar h2 {
    margin-bottom: 0;
}

.link-list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
}
.link-item {
    margin: 10px 0;
    display: flex;
    align-items: center;
}
.link-item img {
    width: 20px;
    height: auto;
    margin-right: 6px;
}
.link-item a {
    text-decoration: none;
    font-weight: bold;
}
.link-item a:hover {
    color: #ccc;
}

.text-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.text-item {
    margin: 10px 0;
}
.text-item h3 {
    margin-right: 3px;
    margin-top: 0.83em;
    margin-bottom: 0.2em;
    font-size: 1em;
}
.text-item p {
    margin: 0;
    text-align: right;
}



.main-content {
    flex: 1;
    max-width: 800px; /* Adjust max-width for better readability on larger screens */
    padding-bottom: 60px; /* Space for footer on mobile */
}


/* Styles for blog entries */
.blog-entries {
    width: 100%;
}
.blog-entry {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    height: fit-content;
}
.blog-entry h2 {
    font-size: 1.5rem; /* Increase font size for better readability */
    margin-bottom: 0.83em;
}
.blog-entry p {
    margin-bottom: 0;
    text-align: justify;
}


.pagination {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.pagination a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
}
.pagination a:hover {
    background-color: #ccc;
}
.pagination a.active {
    font-weight: bold;
}

#pagination-top {
    margin-top: 0;
    padding-top: 0;
}
#pagination-bot {
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    .container {
        padding: 0px;
        flex-direction: column;
    }

    .blog-entry {
        margin: 10px;
    }

    .sidebar {
        width: 100%;
        max-width: 100%;
        border-radius: 0px;
        background-color: #f0f0f0;
        padding: 0;
        margin: 0;
        border-top: 1px solid #ccc;
        align-items: center;
        justify-content: center;
    }

    .link-list, .text-list {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 0 40px;
    }

    .text-item {
        width: fit-content;
    }

    .link-item {
        width: fit-content;
    }
}
